html, body {
    width: 100%;
    height: 100%;

}

h1 {
    font-size: 24px;
}

.chat {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    width: 950px;
    height: 650px;
    border: 2px solid #000;
}

.chat-header {
    max-width: 100%;
    height: 10%;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: rgba(194, 193, 193, 0.932);
    user-select: none;
}

.chat-box {
    max-width: 100%;
    height: calc(20% - 4px);
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border-top: 2px solid #000;
    background-color: rgba(194, 193, 193, 0.932);
}

.input {
    height: 80%;
    width: 500px;
    resize: none;
    padding: 5px;
}

.send-text {
    margin-top: -75px;
    width: 75px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #000;
    color: #FFF;
    background-color: #0066cc;
}

.send-text:hover{
    cursor: pointer;
}

.chat-messages {
    max-width: 100%;
    height: 70%;
    overflow: auto;
}

.message-text {
    display: block;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    margin: 15px 15px 5px 15px;
    border: 1px solid #000;
    line-height: normal;
    word-wrap: break-word;
    overflow: hidden;
    user-select: none;
}

.text-button {
    width: 40px;
    height: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.btn_edit {
    background-color: green;
    color: rgb(248, 242, 242);
    border: 1px solid #000;
    width: auto;
}

.btn_edit:hover {
    background-color: rgba(0, 128, 0, 0.801);
    cursor: pointer;
}

.btn_remove {
    background-color: rgb(219, 11, 11);
    color: rgb(248, 242, 242);
    border: 1px solid #000;
    margin-right: 20px;
    width: auto;
}

.btn_remove:hover {
    background-color: rgba(255, 0, 0, 0.767);
    cursor: pointer;
}

